:root {
    --gradBackground: #2C3E50;
    /* fallback for old browsers */
    --gradBackground: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    --gradBackground: linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --textBackground: #757F9A;
    /* fallback for old browsers */
    --textBackground: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A);
    /* Chrome 10-25, Safari 5.1-6 */
    --textBackground: linear-gradient(to bottom, #D7DDE8, #757F9A);
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--gradBackground);
    font-family: 'Saira Stencil One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 7vh;
    max-height: ;
    background: var(--gradBackground);
    font-family: 'Saira Stencil One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 7vmin;
    /* font-size: 5vmin; */
    /* width: auto;
    height: auto; */
    /* align-self: center; */
    text-align: center;
}

h2 {
    font-size: 3em;
    margin: 0 auto;
}

h3 {
    /* font-size: 2em; */
    margin: 0 auto;
    width: 90vw;
}

h1,
h2,
h3 {
    background: var(--textBackground);
    /* background: #757F9A; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #D7DDE8, #757F9A); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #D7DDE8, #757F9A); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Saira Stencil One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

span {
    color: white;
    text-decoration: underline;
}


/* <<<<<<<<<< CLASSES (ALPHABETICALLY) >>>>>>>>>>*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container ol {
    width: 100%;
}

.fleetTitle {
    text-align: center;
}

.grid {
    margin: 0 2vmin 2vmin 2vmin;
    display: grid;
    background: var(--gradBackground);
    /* background-color: rgba(50, 164, 168, 1); */
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.grid div {
    border: 1px dashed rgba(255, 255, 255, .5);
}

.grid div:hover {
    background-color: rgba(255, 0, 0, .5);
}

.grid-display,
.grid-display-vertical {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 20px 20px 20px;
}

.hidden-info {
    flex-direction: column;
    align-items: center;
}

.ship,
.taken {
    background-color: rgba(150, 150, 150, 1);
}

.ship>div {
    width: 4.6vmin;
    height: 4.6vmin;
}

.ship {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
    border-radius: 5.3vmin 1vmin 1vmin 5.3vmin;
}

.ship-vertical {
    border-radius: 5.3vmin 5.3vmin 1vmin 1vmin;
}


/* <<<<<<<<<<<<<<< SHIPS >>>>>>>>>>>>>>>*/

.destroyer-container {
    --width: 2;
}

.destroyer-container-vertical {
    --height: 2;
    --width: 1;
    /* Need this to override the horizontal width */
}

.submarine-container,
.cruiser-container {
    --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
    --height: 3;
    --width: 1;
    /* Need this to override the horizontal width */
}

.battleship-container {
    --width: 4;
}

.battleship-container-vertical {
    --height: 4;
    --width: 1;
    /* Need this to override the horizontal width */
}

.carrier-container {
    --width: 5;
}

.carrier-container-vertical {
    --height: 5;
    --width: 1;
    /* Need this to override the horizontal width */
}

.destroyer-container-vertical {
    /* border-radius: 40px 40px 20px 20px; */
}


/* .ship div:last-child {
    border-radius: 0 10px 10px 0;
} */

.ship-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 40px 10px 10px 40px; */
}

.ship-container p {
    margin: 10px;
    color: white;
    /* position: relative; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.start {
    border-radius: 5.3vmin 0vmin 0vmin 5.3vmin;
}

.start.vertical {
    border-radius: 5.3vmin 5.3vmin 0vmin 0vmin;
}

.end {
    border-radius: 0vmin 1vmin 1vmin 0vmin;
}

.end.vertical {
    border-radius: 0vmin 0vmin 1vmin 1vmin;
}

.btn-water {
    background: var(--gradBackground);
    height: 40px;
    font-size: 1.5em;
    border-radius: 10px;
}

#rotate,
#start {
    color: rgba(255, 255, 255, .9);
}

.grid-computer>.taken {
    background-color: rgba(150, 150, 150, 0);
}

.grid-computer>.hit {
    background-color: red;
    z-index: 2;
}

.hit {
    background-color: red;
    z-index: 2;
}

.sunk {
    background-color: black;
    z-index: 2;
}

.miss {
    background-color: white;
}