* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
}

.grid-display {
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 20px;
}

.grid-display-vertical {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: 20px;
}

.grid div {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
}

.grid div:hover {
    background-color: rgba(255, 0, 0, .5);
}

.destroyer-container {
    width: calc(2*40px);
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
}

.destroyer-container-vertical {
    width: 40px;
    height: calc(2*40px);
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.submarine-container {
    width: calc(3*40px);
    height: 40px;
    background-color: pink;
    margin: 10px;
    display: flex;
}

.submarine-container-vertical {
    width: 40px;
    height: calc(3*40px);
    background-color: pink;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cruiser-container {
    width: calc(3*40px);
    height: 40px;
    background-color: purple;
    margin: 10px;
    display: flex;
}

.cruiser-container-vertical {
    width: 40px;
    height: calc(3*40px);
    background-color: purple;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.battleship-container {
    width: calc(4*40px);
    height: 40px;
    background-color: aqua;
    margin: 10px;
    display: flex;
}

.battleship-container-vertical {
    width: 40px;
    height: calc(4*40px);
    background-color: aqua;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.carrier-container {
    width: calc(5*40px);
    height: 40px;
    background-color: green;
    margin: 10px;
    display: flex;
}

.carrier-container-vertical {
    width: 40px;
    height: calc(5*40px);
    background-color: green;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.ship div {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
}

.ship {
    border-radius: 40px 20px 20px 40px;
}

.destroyer-container-vertical {
    border-radius: 40px 40px 20px 20px;
}


/* .ship div:last-child {
    border-radius: 0 10px 10px 0;
} */

.ship-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 40px 10px 10px 40px; */
}

.ship-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 40px 10px 10px 40px; */
}

.ship-container p {
    margin: 10px;
}

.destroyer {
    background-color: orange;
}

.submarine {
    background-color: pink;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: aqua;
}

.carrier {
    background-color: green;
}

.hit {
    background-color: red;
}

.miss {
    background-color: white;
}